   
    .seozeo {
      display: block;
      float: right;
      width: 360px;
    }
    .card {
      display: block;
      float: left;
      
    }

    .form{
      margin-top: 50px;
    }
   
  
    